@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url('https://wallpapercrafter.com/th800/48225-clouds-nature-hd-4k-5k.jpg');
  background-size: cover;
  font-family: Poppins;
}

header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background: rgba(255, 255, 255, 0.884);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
  font-size: 2rem;
}

input {
    height: 2rem;
    width: 20ch;
    padding: 0.5rem;
    font-family: Poppins;
    color: black;
    background: rgba(255, 255, 255, 0.068);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px darkgrey;
}

input:focus{
    outline-style: none;
}

button {
    border: none;
    padding: 1rem;
    margin: 0.5rem;
    background: rgb(248, 248, 63);
    font-family: Poppins;
   
}

button:hover{
    cursor: pointer;
    background: yellow;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  background: rgba(255, 255, 255, 0.329);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.location {
  font-size: 6rem;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }

    header {
        padding: 0.4rem;
    }

    h1 {
        font-size: 1rem;
    }

    input {
        height: 1rem;
    }

    button {
        padding: 0.5rem;
    }

    .container {
        margin: 5rem;
        gap: 2rem;
    }
}
